.gdbinit
files.d
*.log
*~
*.layout
valgrind.txt
ValgrindOut.xml
cachegrind.out.*
*.o
*.a
*.i
*.s
*.so
nharu-env
docs/
sources
facilities/eclipse/
LogDevice.java
*.cscope_file_list
bin
libs
version.c
*.obj
*.lib
*.pdb
debug
test/ntest-app
mem-check
*.sdf
*suo
*filters
dist/
bin/
Version.java
settings.json
*.db
*.db-shm
*.db-wal
META-INF/
.classpath
.project
.settings/
.vscode/
win32/.wget-hsts
win32/library.vbs
win32/dev-env.bat
win32/build.bat
win32/git.template
java-bin/

