.gdbinit
files.d
valgrind.txt
ValgrindOut.xml
version.c
Version.java
LogDevice.java
Makefile
.project
win32/.wget-hsts
win32/library.vbs
win32/dev-env.bat
win32/build.bat
win32/git.template
docs/
bin/
dist/
.vscode/
.settings/
*.log
*~
*.layout
cachegrind.out.*
*.cscope_file_list
*.sdf
*suoSignerInterface
*filters
linux/openssl
linux/libidn
linux/gnulib
linux/libiconv
